
html, body {
	min-width: 330px;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	overflow-x: hidden; 
}

strong {
	font-size: 20px;
}

h1, h2, ul {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: .5px;
	line-height: 45px;
}

iframe {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}

.fixed-container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	background-color: #dde1ec;
}

.header__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px 0;
}

.header__top-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__top-logo {
	height: 55px;
	margin-right: 20px;
}

.header__top-right {
	text-align: right;
}

.heder__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header__body-head {
	text-align: center;
	letter-spacing: 1px;
}

.header__body-text {
	font-size: 35px;
	font-weight: 700;
}

.header__body-video-block {
	width: 100%;
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header__body-video-block-video {
	margin: 30px 0;
	width: 800px;
	height: 450px;
	border: 1px solid #4d73b8;
	border-radius: 5px;
}

.buy-btn {
	margin: 10px 0 30px;
	width: 300px;
	height: 65px;
	border: 5px solid #e19a00;
	border-radius: 5px;
	background-color: #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 21px;
	-webkit-transition: .5s;
	transition: .5s;
}

.buy-btn:hover {
	background-color: #ffffff;
}

.advantages__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 90px;
}

.video-block__left {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; 
}

.video-block__right {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center; 
}


.video-block__video {
	width: 380px;
	height: 260px;
	border:  1px solid #4d73b8;
	-webkit-box-shadow: 0.8px 1.8px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0.8px 1.8px 6px rgba(0, 0, 0, 0.3);
}

.video-block__video img {
	cursor: pointer;
}

.video-block__text {
	min-width: 530px;
}

.video-block__text strong {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}

.video-block__text p {
	font-size: 16px;
	line-height: 24px;
}

.video-block__text:nth-child(even) {
	margin-left: 20px;
}

.video-block__text:nth-child(odd) {
	margin-right: 20px;
}

.advantages__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #dbe3f8;
	padding: 50px 0;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	line-height: 24px;
	margin-top: 70px;
}

.advantages__footer img {
	margin-right: 40px;
}

.advantages__footer-text strong {
	font-size: 30px;
	font-weight: 400;	
}

.advantages__footer-text p {
	margin: 10px 0 0;
	font-size: 16px;
}

.reviews__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.reviews__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.reviews__header-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.reviews__header-left-text {
	margin-left: 20px;
	max-width: 360px;
}

.reviews__header-left-text span {
	font-size: 25px;
	line-height: 36px;
}

.reviews__header-right {
	max-width: 320px;
}

.reviews__header-right span {
	font-size: 16px;
}

.reviews__header-right-video-block {
	width: 320px; 
	height: 180px;
	border: 1px solid #4d73b8;
	border-radius: 5px; 
}

.reviews__body {
	margin-top: 90px;
}

.reviews__subscription {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 50px 0;
	margin-top: 130px;
	background-color: #dbe3f8;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.reviews__subscription-text {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.reviews__subscription-text strong {
	text-align: center;
	font-weight: 400;
	width: 100%;
	font-size: 21px;
	line-height: 20px;
}

.reviews__subscription-text span {
	font-size: 16px;
	line-height: 24px;
}

.reviews__subscription-input-block {
	margin-top: 20px;
	text-align: center;
}

.reviews__subscription-input-block input, button {
	width: 219px;
	height: 42px;
	background-color: #ffffff;
	border: 1px solid #4d73b8;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	outline: none;
	padding: 0 12px;
	text-align: center;
	font-size: 16px;
	margin-right: 10px;
}

.reviews__subscription-input-block button {
	width: 140px;
	background-color: #4d73b8;
	color: #ffffff;
	cursor: pointer;
	-webkit-box-shadow: 0.8px 1.8px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0.8px 1.8px 3px rgba(0, 0, 0, 0.2);
}

.reasons-buy__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.reasons-buy__body-inform {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 30px;
	border: 1px solid #4d73b8;
	padding: 25px;
}

.reasons-buy__body-inform-ul {
	max-width: 435px;
}

.reasons-buy__body-inform-ul ul li {
	margin-bottom: 30px;
	padding-left: 60px;
	min-height: 140px;
	background: url(../img/ico_li.png) no-repeat;
	background-position: top 5px left;
	list-style-type: none;
}

.reasons-buy__body-inform-ul ul li span {
	font-size: 24px;
	line-height: 45px;
}

.reasons-buy__body-inform-ul ul li p {
	font-size: 16px; 
	line-height: 24px;
}

.buy-algorithm__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.buy-algorithm__body-steps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.buy-algorithm__body-steps ul {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 95%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.buy-algorithm__body-steps ul li {
	position: relative;
	margin-right: 100px;
	list-style-type: none;
}

.buy-algorithm__body-steps ul li:nth-child(3) {
	margin-right: 0;
}

.buy-algorithm__body-steps ul li:nth-child(3):before {
	width: 0;
	height: 0;
}

.buy-algorithm__body-steps ul li:before {
	content: ' ';
	width: 270px;
	height: 1px;
	left: 70%;
	top: 22%;
	position: absolute;
	background-color: #4d73b8;
}

.buy-algorithm__body-steps ul li {
	position: relative;
	margin-right: 100px;
	list-style-type: none;
}

.buy-algorithm__body-steps ul li span {
	font-size: 47px; 
	line-height: 65px;
}

.buy-algorithm__body-inf {
	margin: 65px 0 90px;
	width: 100%;
	background-color: #f2f2f2;
	border: 1px solid #4d73b8;
	border-radius: 10px;
	padding: 25px 0;
}

.buy-algorithm__body-inf ul {
	list-style-type: none;
	padding: 0 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.buy-algorithm__body-inf ul li {
	margin-right: 120px;
	text-align: center;
	vertical-align: middle;

}

.buy-algorithm__body-inf ul li:nth-child(3) {
	margin-right: 0;
}

.buy-options ul {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 40px;
}

.buy-options__item {
	width: 230px; 
	height: 385px;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.buy-options__item h3 {
	font-size: 26px; 
	font-weight: 700;
	line-height: 35px;
}

.buy-options__item-text {
	line-height: 25px;
	display: block;
}

.buy-options__item-price {
	display: block;
	font-size: 25px; 
	font-weight: 700;
	margin-top: 10px; 
	line-height: 45px;
}

.buy-options__item-more {
	display: block;
	text-decoration: none;
}

.buy-options__item-more span {
	padding: 0 10px;
	border-bottom: 1px dashed #242424;
}

.buy-options__item-buy {
	margin: 20px auto 0;
	display: block;
	width: 180px;
	height: 65px;
	background-color: #f2f2f2;
	border: 5px solid #ffae00;
	font-size: 25px;
	border-radius: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: .5s;
	transition: .5s;
}

.buy-options__item-buy:hover {
	background-color: #ffffff;
}

.buy-options__item-hover {
	width: 300px;
	height: 475px;
	background-color: #ffffff;
	border: 3px solid #ffae00;
	margin: 0 30px;
}

.buy-options__item-hover h3 {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
}

.buy-options__item-hover .buy-options__item-text {
	margin-bottom: 35px;
	font-size: 22px;
}

.buy-options__item-hover img {
	margin: 20px 0 10px;
} 

footer {
	padding: 20px 0 10px;
	background-color: #f2f2f2;
	border-top: 1px solid #4d73b8;
	-webkit-box-shadow: inset 0 1px 7px rgba(36, 44, 78, 0.5);
	box-shadow: inset 0 1px 7px rgba(36, 44, 78, 0.5);
}

.footer__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer__body div {
	min-width: 235px;
}

.footer__inf span, a {
	display: block;
}

.footer__inf a {
	text-decoration: underline;
	color: #4d73b8;
}

.footer__inf div {
	margin-bottom: 10px;
}

.footer__inf-pc {
	font-size: 16px;
}

.footer__subscription {
	text-align: center;
}

.footer__subscription span {
	text-align: center;
}

.footer__subscription input {
	display: block;
	margin: 15px auto;
	width: 180px;
	height: 37px;
	background-color: #ffffff;
	border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    outline: none;
    text-align: center;
    padding: 0 12px;
    font-size: 16px; 
}

.footer__subscription button {
	margin: 0 auto;
	width: 140px;
	height: 37px;
	background-color: #ffffff;
	border: 1px solid #4d73b8;
    border-radius: 4px;
    -webkit-box-shadow: 0.8px 1.8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0.8px 1.8px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    color: #4d73b8;
    font-size: 14px; 
}

.footer__widget-vk span {
	display: block;
	text-align: center;
}

section {
	padding-bottom: 90px; 
}